@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

.quicksand-uniquifier {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* Defina um valor numérico: 100 a 900 */
    font-style: normal;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* CONFIGURAĆ‡Ć•ES DO FUNDO */
body {
    background-color: #F8F8F7;
    align-items: center;
}



/* NAV ABAIXO */
.menu {
    text-align: center;
    background-color: #EAEDEF;
    padding: 0% 15% 0% 15%;
    display: flex;
    align-items: center;
    /* Alinha os itens verticalmente */
    justify-content: flex-start;
    /* Alinha os itens à esquerda */

}


.a-menu {
    color: #151620;
    font-size: 1.8rem;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: 1s;
    padding: 0% 5% 0 5%;
}

.a-menu:hover {
    padding-left: 30px;
    border-left: 4px solid rgba(15, 5, 1, 0.815);
    color: #6f7388;
    transition: 0.4s;
}

.logo {
    width: 20%;
    display: inline-block;
    /* Usar inline-block pode ser melhor se for dentro de um menu horizontal */
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
    align-items: left;
    width: 10%;
    /* Diminui o tamanho da imagem */
    margin-right: 20px;
}


/*-----------------------------------------------------*/
.servicost {
    text-align: center;
    background-color:   #42708c;
    color: #F8F8F7;
    padding: 5% 0% 5% 0%;
    align-items: center;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    box-shadow: 8px 0px 4px 5px rgba(0, 0, 0, 0.5);
    transition: 3s;
}

.servicost:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.8);
}

/*-----------------------------------------------------*/
.haiane {
    font-size: 3rem;
    font-family: fantasy;
    color: #151620;
    text-decoration-color: #151620;
    text-align: left;
    padding: 10% 0% 0% 0%;
    margin: 0% 0% -6% 0%;
}

h1 {
    font-size: 3rem;
    font-family: fantasy;
    color: #151620;
    text-decoration-color: #151620;
    text-align: left;
    padding: 0% 0% 0% 0%;
}

article {
    text-align: justify;
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    border-radius: 26px;
    box-sizing: border-box;
    color: #40352C;

}

#meio {
    padding: 0% 19% 0% 19%;
}

.content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

}

/*-----------------------------------------------------*/
.texto {
    flex: 1;
}

.imagem {
    flex: 1;
    text-align: center;
}

.img1 {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: 1s;
}
.img1:hover{
    box-shadow: 0px 15px 25px #42708C;
}

.content-left {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

}


.texto2 {
    background-color: #42708C;
    border-radius: 5px;
    padding: 5% 15% 5% 15%;
    color: #F8F8F7;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carl {
    align-items: center;
}

/*-----------------------------------------------------*/
.texto3 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10% 0% 10% 0%;
}

.imagem2 {
    flex: 1;
}

.img2 {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: 1s;
}
.img2:hover{
    box-shadow: 0px 15px 25px #42708C;
}


/*-----------------------------------------------------*/
.servicos {
    text-align: center;
    background-color:  #497590;
    color: #F8F8F7;
    padding: 40px 20px;
    box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: 3s;

}

.servicos:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.8);
}

.servicos h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #abbeca;
    border-radius: 10px;
    padding: 20px;
    width: 367px;
    height: 518px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 2.2s;
}

.card img {
    width: 255px;
    height: 214px;
    border-radius: 10% 10% 10% 10%;
    margin-bottom: 15px;
    padding: 5% 3% 0% 3%;
}
.card:hover{
    box-shadow: 3px 10px 20px 10px #273e4e;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: "Quicksand", sans-serif;
    color: #323a63;
}

.card p {
    font-size: 0.9rem;
    color:  #323a63;
    text-align: justify;
    font-family: "Montserrat";
    padding: 0% 5% 2% 5%;
    font-weight: 500;
}

.cta-button {
    background-color: #384584;
    color: #dce4ea;
    border: none;
    padding: 20px 80px;
    margin-top: 30px;
    border-radius: 80px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.3);
}

.cta-button:hover {
    background-color: #323a63
}

.texto {
    flex: 2;
    font-size: 1.8rem;
    color: #151620;
}

/*-------------------------------------*/
.baixoclass {

    text-align: center;
    background-color:  #507a94;
    color: #F8F8F7;
    padding: 2% 0% 3% 0%;
    align-items: center;
    box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.4s ;

}

.baixoclass:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}

/*-------------------------------------*/
.content2 {
    display: flex;
    align-items: center;
    /* Alinha verticalmente os itens */
    justify-content: center;
    /* Alinha horizontalmente os itens */
    gap: 20px;
    margin-top: 20px;
    transition: 1s;
}

.content2:hover {
    box-shadow: 0px 14px 60px #446b87;
}

.texto2 {
    text-align: center;
    /* Garante que o texto seja centralizado */
    background-color: #42708C;
    padding: 5% 17% 5% 17%;
    color: #F8F8F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinha o conteúdo horizontalmente */
    justify-content: center;
    /* Alinha o conteúdo verticalmente */
}

/*-------------------------------------*/
/* Estilização da seção geral */
.info-consulta {
    display: flex;
    gap: 50px;
    padding: 15%;
    background-color: #242C64;
}

/* Estilização do lado esquerdo */
.info {
    flex: 1;
    font-family: Arial, sans-serif;
    color: #DDF0FF;
}

.info h2,
.info h3 {
    color: #DDF0FF;
}

.info p {
    margin: 10px 0;
}

/* Estilização do lado direito (formulário de login) */
.formulario {
    flex: 1;
    font-family: Arial, sans-serif;
    background-color: #B9CBDD;
    padding: 5% 5% 5% 5%;
    border-radius: 10px;
    box-shadow: 10px 7px 20px #b9cbdd;
}

.formulario h2 {
    color: #384584;
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    margin: 10px 0 5px;
}

.formulario input,
.formulario button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.formulario button {
    background-color: #384584;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.formulario button:hover {
    background-color: #0d6dce;
}

/*----------------------------------*/
.navbar {
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 50%;
    left: 80px;
    /* Ajuste para posicionar o menu à esquerda */
    transform: translateY(-50%);
    z-index: 99;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar.scrolled {
    opacity: 0.8;
    /* Torna a navbar ligeiramente transparente ao rolar */
    transform: translateY(-40%);
    /* Desloca a navbar para cima um pouco */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0.75rem;
    background-color: #b9cddd;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(5, 4, 62, 0.25);
}

.navbar li+li {
    margin-top: 0.75rem;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    position: relative;
    transition: color 0.15s ease, background-color 0.15s ease;
}

.navbar a:hover,
.navbar a:focus,
.navbar a.active {
    background-color: #30305a;
    box-shadow: 0px 14px 60px #0f118f;
}

.navbar a img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.navbar a span {
    position: absolute;
    background-color: #30305a;
    color: #ffffff;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    left: calc(100% + 1.5rem);
    transform-origin: center left;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.15s ease, opacity 0.15s ease;
}

.navbar a:hover span,
.navbar a:focus span,
.navbar a.active span {
    transform: scale(1);
    opacity: 1;
}

.navbar a span:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #30305a;
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 3px;
}

/*-----------------------------------------------------*/
/* Estilização do carrossel */
